doctype 
html 
    head 
        title User Manage dashboard
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js')
        script(src="/userdelete.js") 
        link(rel="stylesheet", href="/delete.css") 
    body
        #nav-bar
            nav.navbar.navbar-expand-lg.navbar-light
                | Blog
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                  i.fa.fa-bars(aria-hidden='true')
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='/dashboard') Home 
                        li.nav-item
                            a.nav-link(href='/logout') Logout
        .text-center
            h2 Your Articles
        div 
            a.btn.btn-primary(href="/article/addarticle") Add New Article
        br
        table(style='width:100%',border='2')
            tr 
                th E-Mail 
                th Topic 
                th Title 
                th Description 
                th Article 
                th Update 
                th Delete
            each value in data 
                tr 
                    td #{email}
                    each topic in data1 
                        if(topic._id == value.subject)
                            td #{topic.subject}
                    td #{value.title} 
                    td #{value.description} 
                    td #{value.article}
                    td 
                        a(href="/article/update/"+value._id) Update Article 
                    td(onclick="deletearticle('"+value._id+"')" class='del') Delete
        if(message == "success")
             h3 edited successfully
        if(message2 == "success")
             h3 deleted successfully
                    
